div {
    background-color: #4a1831;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ffd7ad;
    font-weight: 400;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    
  }
  
  .image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    
  }
  .image3 {
    position: absolute;
    top: 190px;
    left: 30px;
    max-width:100%;
    max-height: 100%;
   
    
  }
  .p1{
    position: absolute;
    top: 290px;
    left: 30px;
    
font-size: 30px;
color: #ffd7ad;

font-family: "Roboto";
  }
  .image4 {
    position: absolute;
    top: 450px;
    left: 50px;
    max-width:100%;
    max-height: 100%;
   

   
    
  }
  .image5 {
    position: absolute;
    top: 470px;
    left: 130px;
    max-width:100%;
    max-height: 100%;
   

   
    
  }
     
     
     